@import url("https://fonts.googleapis.com/css?family=Inter");

#root {
  position: relative;
}

.index-bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
}

.index-bg-title-wrapper {
  display: flex;
  justify-content: center;
}

.index-bg-title {
  padding-top: 6rem;
  font-size: 3rem;
  position: absolute;
}
